# CONNETTERE PYTHON A SQL SERVER

## installare pyodbc

In [1]:
#pip install pyodbc

## import

In [2]:
import pandas as pd
import pyodbc as odbc

# corpo centrale
per accedere al database occore richiamare la funzione odbc.connect e passare come argomento il driver qui sotto (nel caso si voglia accedere tramite autenticazione windows) altrimenti c'è un'ampia gamma di driver accessibili. inserire il nome del server e del database in questione, passare 'yes' alla keyword 'Trusted_Connection'

In [93]:
channel = odbc.connect("DRIVER={SQL Server};SERVER=.;DATABASE=Prova;Trusted_Connection=yes;")      #ha funzionato solo con questo driver per ora, non cambiare questa linea di codice

implementare poi un cursore che tramite la funzione .cursor viene associato al canale di prima, al cursore si può associare una query da chiedere al database

In [94]:
cursor = channel.cursor()

si può quindi ciclare il cursore lungo le righe della select

In [95]:
cursor.execute('SELECT * FROM dbo.CLASS')
while 1:
    row = cursor.fetchone()
    if not row:
        break

    print(row.ClassName)

1ALS
1BLS
pas
1BD
2BD
1FS
2FS
asd
sdfg

In [96]:
cursor.execute('SELECT * FROM dbo.CLASS')
while 1:
    row = cursor.fetchone()
    if not row:
        break
    if row.ClassID == 34:
        break
    print(row)

(1, 1, '1ALS', 'prima del liceo di scienze applicate')
(2, 1, '1BLS', 'prima del liceo di sceinze applicate')
(3, 3, 'pas', 'tua sorella')
(31, 3, '1BD', 'Big Data Engineering primo anno')
(32, 3, '2BD', 'Big Data Engineering anno 2')
(33, 3, '1FS', 'Fullstack Developper primo anno')

In [97]:
cursor.execute('SELECT * FROM dbo.CLASS')
for i in cursor:
    print(i)

(1, 1, '1ALS', 'prima del liceo di scienze applicate')
(2, 1, '1BLS', 'prima del liceo di sceinze applicate')
(3, 3, 'pas', 'tua sorella')
(31, 3, '1BD', 'Big Data Engineering primo anno')
(32, 3, '2BD', 'Big Data Engineering anno 2')
(33, 3, '1FS', 'Fullstack Developper primo anno')
(34, 3, '2FS', 'sicanca')
(35, 3, 'asd', 'sdfghj')
(36, 1, 'sdfg', 'sdfghj')

In [98]:
#cursor.execute('SELECT * FROM dbo.CLASS')
#for i in cursor:
 #   if i.ClassID == 34:
  #      cursor.execute("update table

# insertion
to insert into a database you use the 'insert into' queries

In [99]:
cursor.execute('''
                INSERT INTO CLASS (ClassID,SchoolID,ClassName,Description)
                values (40,2,'glob','glibglob')''')

In [100]:
cursor.execute('SELECT * FROM dbo.CLASS')
for i in cursor:
    print(i)

(1, 1, '1ALS', 'prima del liceo di scienze applicate')
(2, 1, '1BLS', 'prima del liceo di sceinze applicate')
(3, 3, 'pas', 'tua sorella')
(31, 3, '1BD', 'Big Data Engineering primo anno')
(32, 3, '2BD', 'Big Data Engineering anno 2')
(33, 3, '1FS', 'Fullstack Developper primo anno')
(34, 3, '2FS', 'sicanca')
(35, 3, 'asd', 'sdfghj')
(36, 1, 'sdfg', 'sdfghj')
(40, 2, 'glob', 'glibglob')

**NB** important, you must remember to commit so the updaates get propagated into your SQLserver database

In [101]:
channel.commit()

# importante
**alla fine di ogni connessione bisogna chiudere il canale di accesso al database**

In [102]:
channel.close()

In [ ]:
https://github.com/Arufonsu25/experiment.git